<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example34-production</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui/build/angular-ui.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-ui/build/angular-ui.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app.js"></script>

    <style scoped>
        .popover {
            max-width: 600px;
        }
    </style>
</head>

<!--
             data-ng-class="{
                    'has-error': form.uName.$dirty && form.uName.$invalid,
                    'has-success': form.uName.$dirty && form.uName.$valid,
                    'has-warning': form.uName.$dirty && form.uName.$pending
                    }"

                    sb-validation-icon form-name="form" model-name="uName"

                    ng-class="getValidationBorderNgClass(form.uName)"

            <span class="glyphicon glyphicon-ok form-control-feedback"
                  ng-show="form.uName.$dirty && form.uName.$valid"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback"
                  ng-show="form.uName.$dirty && form.uName.$invalid"></span>
            <span class="glyphicon glyphicon-refresh form-control-feedback"
                  ng-show="form.uName.$dirty && form.uName.$pending"></span>

                  <sb-validation-icon form-model="form.uName"></sb-validation-icon>
-->

<body ng-app="customTriggerExample" ng-controller="ExampleController" >
    <form novalidate name="form">
        <div class="form-group has-feedback"
             style="width: 400px;"
             sb-validation-border form-model="form.uName">
            <label class="control-label" for="uName">Name:</label>
            <input type="text"
                   class="form-control"
                   id="uName"
                   name="uName"
                   required
                   minlength=5
                   must-contains-space
                   not-duplicated
                   data-ng-model="user.name"
                   data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                   popover="{{getErrorMessage('uName', form.uName.$viewValue)}}"
                   popover-trigger="mouseenter"
                   popover-placement="bottom" />
            <sb-validation-icon form-model="form.uName"></sb-validation-icon>
        </div>

        <input class="btn btn-default" type="submit" value="Submit" ng-click="submit($event)">
    </form>
    <pre>{{getErrorMessage('uName', form.uName.$viewValue)}}</pre>
    <pre>{{form | json }}</pre>
    <pre>username = "{{user.name}}"</pre>

</body>
</html>