<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISamepleService" />
            </basicHttpBinding>
          <netTcpBinding>
            <binding name="NetTcpBinding_ISamepleService" />
          </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:19999/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISamepleService" contract="Contracts.ISamepleService"
                name="BasicHttpBinding_ISamepleService" />
        </client>
    </system.serviceModel>
</configuration>